@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.input {
  @include flex(center, center);
  margin: 10px 10px;

  &__code {
    width: 50px;

    @include tablet {
      width: 80px;
    }
  }

  &__option {
    @include flex(center, center);
    flex-direction: column;

    &[type="number"] {
      background: none;
      text-align: center;
      margin-left: 10px;
      border: 0;

      &:focus {
        outline: none;
        border-bottom: 1px dotted $red;
      }
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
  }
}
