@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.nav {
  @include flex(center, center);

  max-width: 300px;

  &__background {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 0;
    background: #fff;
    border: 1px dotted $blue;
    border-radius: 50%;
  }
}
