@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.refresh {
  @include flex(center, center);

  position: absolute;
  top: 0;
  right: 0;

  margin: 10px;

  width: 16px;
  height: 16px;

  padding: 8px;

  cursor: pointer;
  @include tablet {
    width: 32px;
    height: 32px;
  }

  background: #fff;

  &__svg {
    @include tablet {
      scale: 1.5;
    }
  }
}
