@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.drag {
  @include flex(center, center);
  width: 100vw;
  height: 98vh;
  background: linear-gradient(180deg, #9c1aff 0%, rgb(119, 0, 255) 100%);
  overflow: hidden;

  &__area {
    opacity: 0.2;
    background: white;

    max-width: 320px;
    max-height: 320px;
    min-width: 280px;
    min-height: 280px;
    width: 50vw;
    height: 50vw;

    border-radius: 30px;
  }

  &__object {
    position: absolute;

    background: white;

    max-width: 160px;
    max-height: 160px;
    min-width: 120px;
    min-height: 120px;
    width: 30vw;
    height: 30vw;

    border-radius: 30px;

    top: calc(50% - 150px / 2);
    left: calc(50% - 150px / 2);

    cursor: pointer;
  }
}
