@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.hamburger {
  position: absolute;

  border-radius: 50%;
  outline: none;
  border: none;

  z-index: 2;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: pointer;
  background: transparent;
}
