@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.background {
  @include flex(center, center);
  width: 100vw;
  height: 98vh;
  background: linear-gradient(180deg, #ffffff 0%, #e3e2e2 100%);
}

.pill {
  width: 25vw;
  height: width / 3.2;
  max-width: 200px;
  max-height: 80px;
  min-width: 150px;
  min-height: 60px;

  border-radius: 50px;
  background: #00ccff;
  cursor: pointer;
}
